body {
    background-color: #32353b;
    font-family: "Menlo", "Monaco", monospace;
    font-size: 12px;
    line-height: 16px;
    color: white;
    margin: 0;
    padding: 0; }

section, header, pre {
    display: inline;
    margin: 0; }

pre {
    white-space: pre-wrap;
    font-family: "Menlo", "Monaco", monospace; }

a {
    color: white; }

#channels {
    position: fixed;
    width: 200px;
    top: 0;
    overflow: auto;
    height: 100%;
    background-color: #202225; }
#channels ul {
    list-style-type: none;
    margin: 0;
    padding: 10px; }
#channels ul.withline {
    border-top: 1px solid #CCCCCC;
}
#channels ul a {
    color: #999999;
    text-decoration: none; }
#channels ul li.current a {
    color: white; }
#channels #calendar {
    text-align: center;
    font-size: 14px;
    display: block;
    color: #AAAAAA;
    padding: 10px;
    border-bottom: 1px solid #CCCCCC; }
#channels #calendar a {
    text-decoration: none;
    color: #AAAAAA; }
#channels #calendar a.current {
    color: white; }
#title {
    position: fixed;
    width: 100%;
    min-width: 800px;
    margin-left: 200px;
    background-color: #2f3136;
    line-height: 40px;
    padding: 5px 5px 5px 15px;
    color: #AAAAAA;
    font-size: 16px;
    font-weight: bold;
    z-index: 1;
}
#log {
    padding: 55px 10px 10px 10px;
    margin: 0 0 0 201px;
    color: #888888; }
#log div.highlight {
    color: white; }
#log div.highlight span.nickname {
    color: #bfbfbf; }
#log a[id] {
    color: #888888;
    text-decoration: none; }
#log a[id]:hover {
    text-decoration: underline; }
#log a {
    color: #f6f840; }

body:not(.highlight) .msg {
    color: white; }
body:not(.highlight) span.nickname {
    color: #bfbfbf; }

header {
    background-color: black;
    height: 0;
    line-height: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #CCCCCC; }
header a {
    text-decoration: none;
    color: #AAAAAA; }
header span {
    position: absolute;
    left: 10px;
    top: 0;
    font-size: 18px; }

.msg {
    font-size: 14px;
    line-height:22px;
    display: table;
    width: 100%;
}

.chantitle {
    float: left;
}

.search {
    float: right;
    margin-right: 230px;
}

.submit {
    display: inline-block;
}

input {
    background-color: #202225;
    color: #AAAAAA;
    padding: 10px;
    height: 100%;
    border: 1px solid #32353b;
}

:target {
    display: inline-block;
    position: relative;
    top: -51px;
    visibility: hidden;
}

:target ~ div:before {
    content: '⬤';
    color: red;
    visibility: visible;
    display: table-cell;
    padding-right: 10px;
}

.anchor-marker {
    display: inline-block;
    visibility:hidden;
    position:absolute;
    left:238px;
}

.userlink {
    color: #bfbfbf !important;
    text-decoration: none;
}

.gray {
    color: #888888;
}

.timestamp {
    display: table-cell;
}

.logline {
    padding-left: 10px;
    display: table-cell;
    white-space: pre-wrap;
    width: 100%;
}

.row { vertical-align: top; height:auto !important; }
.collapsible {display:none; }
.show {display: none; }
.hide:target + .show {display: inline; }
.hide:target {display: none; }
.hide:target ~ .collapsible {display:inline; }
@media print { .hide, .show { display: none; } }
