img.emoji {
    vertical-align: middle;
    width: auto;
}

.rich-line img {
    height: 16px;
}

.emoji-32 img {
    height: 32px;
}

.spoiler {
    display: inline-block;
    background-color: black !important;
    color: black;
}

.spoiler:hover, .spoiler div:hover, .spoiler span:hover {
    color: #bfbfbf !important;
}

.code {
    color: #bfbfbf;
    display: block;
    white-space: pre-wrap;
    background-color: #202225;
    font-family: monospace;
    padding: 5px;
    margin: 4px 0 4px 0;
    width: 99%;
}

.code span, .spoiler span {
    color: inherit;
    background: none !important;
}

.spoiler div {
    color: black !important;
    padding: 0;
    margin: 0;
    background: none !important;
}

.code u, .code i, .code b {
    font-style: normal !important;
    font-weight: normal !important;
    text-decoration: none !important;
}

.code span:hover {
    background-color: unset !important;
    color: unset !important;
}

.oneliner {
    font-family: monospace;
    color: #bfbfbf;
    background-color: #202225;
}

@font-face {
    font-family: 'Dearest';
    src: url('/fonts/Dearest.ttf') format('truetype');
}

.gallery {
    padding: 20px;
    margin: 20px;
}

.thumb-wrap {
    display: inline-block;
    height: 240px;
    width: 240px;
    background-color: #d0d3d4;
}

.thumb-wrap .thumb {
    text-align: center;
    display: block;
    margin: 10px;
    background-color: #313131;
}

.thumb-wrap .thumblink {
    vertical-align: middle;

    height: 180px;
    max-width: 220px;
}

.thumb-wrap .caption {
    display: block;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    font-family: 'Dearest', sans-serif;
}
