.error {
    text-align: left;
    background: url(/img/goblin.svg) no-repeat top left;
    color: #606060;
    font-family: Helvetica, Arial, sans-serif;
    min-width: 500px;
    font-size: 20px;
    height: 60px;
    padding-left: 70px;
    margin-bottom: 5px;
}

.error h2 {
    margin: 0;
}

img.emoji {
    vertical-align: middle;
    width: auto;
}

.rich-line img {
    height: 16px;
}

.emoji-32 img {
    height: 32px;
}

.spoiler {
    background-color: black !important;
    color: black;
    padding: 2px;
}

.spoiler:hover, .spoiler div:hover, .spoiler span:hover, .spoiler a:hover {
    position: relative;
    color: #bfbfbf !important;
    z-index: 0;
}

.code {
    color: #bfbfbf;
    display: block;
    white-space: pre-wrap;
    background-color: #202225;
    font-family: monospace;
    padding: 5px;
    margin: 4px 0 4px 0;
    width: 99%;
}

.code span, .spoiler span {
    color: inherit;
    background: none !important;
}

.spoiler div, .spoiler img, .spoiler a {
    position: relative;
    color: black !important;
    padding: 0;
    margin: 0;
    background: none !important;
    z-index: -1;
}

.code u, .code i, .code b {
    font-style: normal !important;
    font-weight: normal !important;
    text-decoration: none !important;
}

.code span:hover {
    background-color: unset !important;
    color: unset !important;
}

.oneliner {
    font-family: monospace;
    color: #bfbfbf;
    background-color: #202225;
    display: inline;
    padding: 2px;
}

@font-face {
    font-family: 'Dearest';
    src: url('/fonts/Dearest.ttf') format('truetype');
}

.gallery {
    padding: 5px;
    margin: 5px;
}

.thumb-wrap {
    display: inline-block;
    height: 240px;
    width: 240px;
    background-color: #d0d3d4;
    margin-bottom: 5px;
}

.thumb-wrap .thumb {
    text-align: center;
    display: block;
    margin: 10px;
    background-color: #313131;
}

.thumb-wrap .thumblink {
    vertical-align: middle;

    height: 180px;
    max-width: 220px;
}

.thumb-wrap .caption {
    display: block;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    font-family: 'Dearest', sans-serif;
}

.pointstable {
    background-color: #2f3136;
    color: #bfbfbf;
    min-width: 400px;

    border-collapse: collapse;

    border: 1px solid #000;
    margin: 0 auto;
}

.pointstable td {
    border: 1px solid #000;
}

.pointstable td {
    padding: 5px;
    text-align: right;
    border: 1px solid black;
    line-height: 20px;
}

.pointstable .nick {
    font-size: 12px;
    font-weight: bold;
}

td.rotate {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    vertical-align: top;
}

td.point {
    width: 20px;
    height: 20px;
}

.pointstable .black {
    background-color: black;
}
